:root {
  --color-bg: #f5f7fa;
  --color-bg-secondary: #ffffff;
  --color-bg-hover: #e8eef5;

  --color-text: #52606d;
  --color-text-secondary: #7b8794;
  --color-text-muted: #9aa5b1;

  --color-border: #b8c7d9;

  --color-saturday: #64a0e8;
  --color-sunday: #e57373;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

body {
  padding: 50px;
  color: var(--color-text);
  font-size: 16px;
  font-family: "Calibri", sans-serif;
  user-select: none;
}

.calendar {
  display: grid;
  gap: 10px;
  grid-template-rows: auto 1fr;

  width: max(900px, 100%);
  height: 100%;
}

.calendar__header {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.calendar__title {
  width: 100px;
  padding: 0 0 1px 0;
  font-size: 1.4rem;
  text-align: center;
}

.calendar__button {
  width: 30px;
  height: 30px;
  padding: 1px 0 0 0;
  background: none;
  border: none;
  border-radius: 50%;
  font-size: 1.1rem;
  cursor: pointer;
}

.calendar__button:hover {
  background: var(--color-bg-hover);
}

.calendar__body {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.calendar__body .cell {
  border: solid 1px var(--color-border);
}

.calendar .cell:nth-of-type(7n + 1) {
  color: var(--color-sunday);
}

.calendar .cell:nth-of-type(7n) {
  color: var(--color-saturday);
}

.calendar__body .cell.weekday {
  padding: 5px 0;
}

.calendar__body .cell.date {
  height: 60px;
}
